<ion-content [fullscreen]="true">
  <div class="container">
    <div class="brand text-center text-2xl flex flex-row">
      <h1 id="title">Tchaikovsky </h1>
      <h1>Чайковский </h1>
    </div>
    <div class="text">
      <p class="text-center">
        Somos una coalición de marcas conformada por jóvenes diseñadores, y nuestro objetivo primordial es brindarte alegría, autenticidad y confianza en cada prenda que elijas. Nos esforzamos para que te sientas único y seguro de ti mismo(a), ofreciéndote una amplia gama de opciones que reflejen tu identidad. Nuestro propósito es que cada vez que vistas una de nuestras creaciones, experimentes una gran satisfacción. ¡Acompáñanos en este viaje de moda emocionante y lleno de estilo!
      </p>
      <br>
      <hr>
      <!---------------------------------->
      <br>
      <a id="join" href="#join-us">Es muss sein</a>
    </div>

    <div class="portrait">
      <div class="flex flex-row">
        <div class="basis-1/2 container-portrait ">
          <img [src]="models[0].url">
          <div class="overlayes">
            <h2 class="text-3xl text-black">{{models[0].title}}</h2>
            <p>{{models[0].description}}</p>
          </div>
        </div>
        <div class="basis-1/2 container-portrait">
          <img [src]="models[1].url">
          <div class="overlayes">
            <h2 class="text-3xl text-black">{{models[1].title}}</h2>
            <p>{{models[1].description}}</p>
          </div>
        </div>
      </div>
      <div class="flex flex-row">
        <div class="basis-1/2 container-portrait ">
          <img [src]="models[2].url">
          <div class="overlayes">
            <h2 class="text-3xl text-black">{{models[2].title}}</h2>
            <p>{{models[2].description}}</p>
          </div>
        </div>
        <div class="basis-1/2 container-portrait ">
          <img [src]="models[3].url">
          <div class="overlayes">
            <h2 class="text-3xl text-black">{{models[3].title}}</h2>
            <p>{{models[3].description}}</p>
          </div>
        </div>
      </div>
      <div class="flex flex-row">
        <div class="basis-1/2 container-portrait ">
          <img [src]="models[4].url">
          <div class="overlayes">
            <h2 class="text-3xl text-black">{{models[4].title}}</h2>
            <p>{{models[4].description}}</p>
          </div>
        </div>
        <div class="basis-1/2 container-portrait ">
          <img [src]="models[5].url">
          <div class="overlayes">
            <h2 class="text-3xl text-black">{{models[5].title}}</h2>
            <p>{{models[5].description}}</p>
          </div>
        </div>
      </div>
    </div>

    <div class="paging">
      <div class="bg-white px-4 py-3 flex items-center justify-between border-t border-gray-200 sm:px-6">
        <div class="flex-1 flex justify-between sm:hidden">
          <a href="#"
            class="back relative inline-flex items-center px-4 py-2 border border-gray-300 text-sm font-medium rounded-md text-gray-700 bg-white hover:bg-gray-50">
            Previous </a>
          <a href="#"
            class="next ml-3 relative inline-flex items-center px-4 py-2 border border-gray-300 text-sm font-medium rounded-md text-gray-700 bg-white hover:bg-gray-50">
            Next </a>
        </div>
        <div class="hidden sm:flex-1 sm:flex sm:items-center sm:justify-between">
          <div>
            <nav class="relative z-0 inline-flex rounded-md shadow-sm -space-x-px" aria-label="Pagination">
              <a href="#"
                class="back relative inline-flex items-center px-2 py-2 rounded-l-md border border-gray-300 bg-white text-sm font-medium text-gray-500 hover:bg-gray-50">
                <span class="sr-only">Previous</span>
                <!-- Heroicon name: solid/chevron-left -->
                <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
                  aria-hidden="true">
                  <path fill-rule="evenodd"
                    d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z"
                    clip-rule="evenodd" />
                </svg>
              </a>
              <!-- Current: "z-10 bg-indigo-50 border-indigo-500 text-indigo-600", Default: "bg-white border-gray-300 text-gray-500 hover:bg-gray-50" -->
              <div class="numbers">
                <a href="#" aria-current="page"
                  class="z-10 bg-indigo-50 border-indigo-500 text-indigo-600 relative inline-flex items-center px-4 py-2 border text-sm font-medium">
                  1 </a>
              </div>

              <a href="#"
                class="next relative inline-flex items-center px-2 py-2 rounded-r-md border border-gray-300 bg-white text-sm font-medium text-gray-500 hover:bg-gray-50">
                <span class="sr-only">Next</span>
                <!-- Heroicon name: solid/chevron-right -->
                <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
                  aria-hidden="true">
                  <path fill-rule="evenodd"
                    d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                    clip-rule="evenodd" />
                </svg>
              </a>
            </nav>
          </div>
        </div>
      </div>



    </div>

    <div class="arrow-down"></div>


    <footer>

    </footer>
  </div>
</ion-content>
