@media (min-width: 640px) {
  .a {
    max-width: 640px;
  }
}

@media (min-width: 768px) {
  .a {
    max-width: 768px;
  }
}

@media (min-width: 1024px) {
  .a {
    max-width: 1024px;
  }
}

@media (min-width: 1280px) {
  .a {
    max-width: 1280px;
  }
}

@media (min-width: 1536px) {
  .a {
    max-width: 1536px;

  }
}

.b {
  margin-left: auto;
  margin-right: auto;
}

.c {
  margin-top: 1.5rem;
}

.d {
  margin-bottom: 2.5rem;
}

.e {
  margin-bottom: 1.5rem;
}

.f {
  margin-bottom: 2rem;
}

.g {
  display: flex;
}

.h {
  display: grid;
}

.i {
  display: none;
}

.j {
  height: 1.75rem;
}

.k {
  height: 1.5rem;
}

.l {
  height: 3rem;
}

.m {
  height: 1.25rem;
}

.n {
  height: 4rem;
}

.o {
  width: 1.75rem;
}

.p {
  width: 70%;
}

.q {
  width: 1.5rem;
}

.r {
  width: 3rem;
}

.s {
  width: 1.25rem;
}

.t {
  width: 4rem;
}

.u {
  max-width: 24rem;
}

.v {
  flex: 1 1 0%;
}

.w {
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.x {
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.y {
  flex-direction: column;
}

.z {
  align-items: center;
}

._ {
  justify-content: center;
}

.aa {
  justify-content: space-between;
}

.ba {
  gap: 2.5rem;
}

.ca {
  gap: 2rem;
}

.da {
  gap: 1.5rem;
}

.ea > :not([hidden]) ~ :not([hidden]) {
  --tw-space-x-reverse: 0;
  margin-right: calc(1.5rem * var(--tw-space-x-reverse));
  margin-left: calc(1.5rem * calc(1 - var(--tw-space-x-reverse)));
}

.ga > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(2rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(2rem * var(--tw-space-y-reverse));
}

.ha > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(1.5rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(1.5rem * var(--tw-space-y-reverse));
}

.ia\.5 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(0.625rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(0.625rem * var(--tw-space-y-reverse));
}

.ia > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(0.5rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(0.5rem * var(--tw-space-y-reverse));
}

.ja > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(3rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(3rem * var(--tw-space-y-reverse));
}

.ka > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(1.25rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(1.25rem * var(--tw-space-y-reverse));
}

.la\.5 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-x-reverse: 0;
  margin-right: calc(0.625rem * var(--tw-space-x-reverse));
  margin-left: calc(0.625rem * calc(1 - var(--tw-space-x-reverse)));
}

.la > :not([hidden]) ~ :not([hidden]) {
  --tw-space-x-reverse: 0;
  margin-right: calc(0.5rem * var(--tw-space-x-reverse));
  margin-left: calc(0.5rem * calc(1 - var(--tw-space-x-reverse)));
}

.ma > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(1rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(1rem * var(--tw-space-y-reverse));
}

.na > :not([hidden]) ~ :not([hidden]) {
  --tw-space-x-reverse: 0;
  margin-right: calc(1rem * var(--tw-space-x-reverse));
  margin-left: calc(1rem * calc(1 - var(--tw-space-x-reverse)));
}

.oa {
  border-radius: 0.5rem;
}

.pa {
  border-radius: 9999px;
}

.qa {
  border-width: 2px;
}

.ra {
  border-style: solid;
}

.sa {
  --tw-border-opacity: 1;
  border-color: rgb(229 231 235 / var(--tw-border-opacity));
}

.ta {
  --tw-border-opacity: 1;
  border-color: rgb(255 255 255 / var(--tw-border-opacity));
}

.ua {
  --tw-bg-opacity: 1;
  background-color: rgb(243 244 246 / var(--tw-bg-opacity));
}

.va {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}

.wa {
  --tw-bg-opacity: 1;
  background-color: rgb(5 150 105 / var(--tw-bg-opacity));
}

.xa {
  --tw-bg-opacity: 1;
  background-color: rgb(4 120 87 / var(--tw-bg-opacity));
}

.ya {
  padding: 1.5rem;
}

.za {
  padding: 2rem;
}

._a {
  padding-left: 1rem;
  padding-right: 1rem;
}

.ab\.5 {
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
}

.bb {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.ab {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.cb {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.db {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.eb {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.fb {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.gb {
  text-align: center;
}

.hb {
  font-family: Inter var, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.ib {
  font-size: 2.25rem;
  line-height: 2.5rem;
}

.jb {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.kb {
  font-size: 1.875rem;
  line-height: 2.25rem;
}

.lb {
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.mb {
  font-size: 1.5rem;
  line-height: 2rem;
}

.nb {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.ob {
  font-size: 0.75rem;
  line-height: 1rem;
}

.pb {
  font-weight: 500;
}

.qb {
  font-weight: 600;
}

.rb {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.sb {
  --tw-text-opacity: 1;
  color: rgb(75 85 99 / var(--tw-text-opacity));
}

.tb {
  --tw-text-opacity: 1;
  color: rgb(107 114 128 / var(--tw-text-opacity));
}

.ub {
  --tw-text-opacity: 1;
  color: rgb(4 120 87 / var(--tw-text-opacity));
}

.vb {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

.wb {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.xb {
  --tw-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color), 0 1px 2px -1px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.yb {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.zb {
  transition-property: color, background-color, border-color, fill, stroke, -webkit-text-decoration-color;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, -webkit-text-decoration-color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

._b {
  transition-property: box-shadow;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.ac {
  transition-property: color, background-color, border-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-text-decoration-color, -webkit-backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-text-decoration-color, -webkit-backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.bc {
  transition-duration: 200ms;
}

.cc {
  transition-duration: 300ms;
}

.dc {
  transition-duration: 500ms;
}

.ec {
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.hover\:fc:hover {
  --tw-scale-x: 1.25;
  --tw-scale-y: 1.25;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.hover\:gc:hover {
  --tw-border-opacity: 1;
  border-color: rgb(5 150 105 / var(--tw-border-opacity));
}

.hover\:xa:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(4 120 87 / var(--tw-bg-opacity));
}

.hover\:hc:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(6 95 70 / var(--tw-bg-opacity));
}

.hover\:ub:hover {
  --tw-text-opacity: 1;
  color: rgb(4 120 87 / var(--tw-text-opacity));
}

.hover\:ic:hover {
  --tw-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 20px 25px -5px var(--tw-shadow-color), 0 8px 10px -6px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.focus\:gc:focus {
  --tw-border-opacity: 1;
  border-color: rgb(5 150 105 / var(--tw-border-opacity));
}

.focus\:jc:focus {
  --tw-border-opacity: 1;
  border-color: rgb(4 120 87 / var(--tw-border-opacity));
}

@media (min-width: 640px) {

  .sm\:kc {
    width: 18rem;
  }

  .sm\:lc {
    width: 80%;
  }

  .sm\:mc {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .sm\:nc {
    flex-direction: row;
  }

  .sm\:oc > :not([hidden]) ~ :not([hidden]) {
    --tw-space-y-reverse: 0;
    margin-top: calc(0px * calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(0px * var(--tw-space-y-reverse));
  }

  .sm\:pc > :not([hidden]) ~ :not([hidden]) {
    --tw-space-y-reverse: 0;
    margin-top: calc(4rem * calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(4rem * var(--tw-space-y-reverse));
  }

  .sm\:ha > :not([hidden]) ~ :not([hidden]) {
    --tw-space-y-reverse: 0;
    margin-top: calc(1.5rem * calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(1.5rem * var(--tw-space-y-reverse));
  }

  .sm\:qc {
    border-radius: 0px;
  }

  .sm\:oa {
    border-radius: 0.5rem;
  }

  .sm\:rc {
    border-top-left-radius: 0.5rem;
  }

  .sm\:sc {
    border-bottom-left-radius: 0.5rem;
  }

  .sm\:tc {
    border-top-right-radius: 0.5rem;
  }

  .sm\:uc {
    border-bottom-right-radius: 0.5rem;
  }

  .sm\:vc {
    border-right-width: 0px;
  }

  .sm\:wc {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  .sm\:_a {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .sm\:xc {
    font-size: 3.75rem;
    line-height: 1;
  }
}

@media (min-width: 768px) {
  .md\:yc {
    display: block;
  }

  .md\:i {
    display: none;
  }

  .md\:zc {
    max-width: 28rem;
  }

  .md\:mc {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .md\:nc {
    flex-direction: row;
  }

  .md\:_c {
    justify-content: flex-end;
  }

  .md\:_ {
    justify-content: center;
  }

  .md\:oc > :not([hidden]) ~ :not([hidden]) {
    --tw-space-y-reverse: 0;
    margin-top: calc(0px * calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(0px * var(--tw-space-y-reverse));
  }

  .md\:ad > :not([hidden]) ~ :not([hidden]) {
    --tw-space-x-reverse: 0;
    margin-right: calc(0.75rem * var(--tw-space-x-reverse));
    margin-left: calc(0.75rem * calc(1 - var(--tw-space-x-reverse)));
  }

  .md\:bd {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }

  .md\:ib {
    font-size: 2.25rem;
    line-height: 2.5rem;
  }

  .md\:cd {
    font-size: 3rem;
    line-height: 1;
  }

  .md\:kb {
    font-size: 1.875rem;
    line-height: 2.25rem;
  }
}

@media (min-width: 1024px) {
  .lg\:dd {
    margin-bottom: 4rem;
  }

  .lg\:ed {
    margin-bottom: 3rem;
  }

  .lg\:fd {
    width: 50%;
  }

  .lg\:mc {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .lg\:gd {
    grid-template-columns: repeat(6, minmax(0, 1fr));
  }

  .lg\:nc {
    flex-direction: row;
  }

  .lg\:hd {
    flex-direction: row-reverse;
  }

  .lg\:ba {
    gap: 2.5rem;
  }

  .lg\:ja > :not([hidden]) ~ :not([hidden]) {
    --tw-space-y-reverse: 0;
    margin-top: calc(3rem * calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(3rem * var(--tw-space-y-reverse));
  }

  .lg\:oc > :not([hidden]) ~ :not([hidden]) {
    --tw-space-y-reverse: 0;
    margin-top: calc(0px * calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(0px * var(--tw-space-y-reverse));
  }

  .lg\:id > :not([hidden]) ~ :not([hidden]) {
    --tw-space-x-reverse: 0;
    margin-right: calc(2.5rem * var(--tw-space-x-reverse));
    margin-left: calc(2.5rem * calc(1 - var(--tw-space-x-reverse)));
  }
}

@media (min-width: 1280px) {
  .xl\:jd {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }

  .xl\:x {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .xl\:kd > :not([hidden]) ~ :not([hidden]) {
    --tw-space-y-reverse: 0;
    margin-top: calc(6rem * calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(6rem * var(--tw-space-y-reverse));
  }

  .xl\:ld {
    padding-top: 7rem;
    padding-bottom: 7rem;
  }


}
