@media (min-width: 640px) {
  .a {
    max-width: 640px;
  }
}

@media (min-width: 768px) {
  .a {
    max-width: 768px;
  }
}

@media (min-width: 1024px) {
  .a {
    max-width: 1024px;
  }
}

@media (min-width: 1280px) {
  .a {
    max-width: 1280px;
  }
}

@media (min-width: 1536px) {
  .a {
    max-width: 1536px;

  }
}

.b {
  margin-left: auto;
  margin-right: auto;
}

.c {
  margin-top: 1.5rem;
}

.d {
  margin-bottom: 2.5rem;
}

.e {
  margin-bottom: 1.5rem;
}

.f {
  margin-bottom: 2rem;
}

.g {
  display: flex;
}

.h {
  display: grid;
}

.i {
  display: none;
}

.j {
  height: 1.75rem;
}

.k {
  height: 1.5rem;
}

.l {
  height: 3rem;
}

.m {
  height: 1.25rem;
}

.n {
  height: 4rem;
}

.o {
  width: 1.75rem;
}

.p {
  width: 70%;
}

.q {
  width: 1.5rem;
}

.r {
  width: 3rem;
}

.s {
  width: 1.25rem;
}

.t {
  width: 4rem;
}

.u {
  max-width: 24rem;
}

.v {
  flex: 1 1 0%;
}

.w {
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.x {
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.y {
  flex-direction: column;
}

.z {
  align-items: center;
}

._ {
  justify-content: center;
}

.aa {
  justify-content: space-between;
}

.ba {
  gap: 2.5rem;
}

.ca {
  gap: 2rem;
}

.da {
  gap: 1.5rem;
}

.ea > :not([hidden]) ~ :not([hidden]) {
  --tw-space-x-reverse: 0;
  margin-right: calc(1.5rem * var(--tw-space-x-reverse));
  margin-left: calc(1.5rem * calc(1 - var(--tw-space-x-reverse)));
}

.ga > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(2rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(2rem * var(--tw-space-y-reverse));
}

.ha > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(1.5rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(1.5rem * var(--tw-space-y-reverse));
}

.ia\.5 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(0.625rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(0.625rem * var(--tw-space-y-reverse));
}

.ia > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(0.5rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(0.5rem * var(--tw-space-y-reverse));
}

.ja > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(3rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(3rem * var(--tw-space-y-reverse));
}

.ka > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(1.25rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(1.25rem * var(--tw-space-y-reverse));
}

.la\.5 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-x-reverse: 0;
  margin-right: calc(0.625rem * var(--tw-space-x-reverse));
  margin-left: calc(0.625rem * calc(1 - var(--tw-space-x-reverse)));
}

.la > :not([hidden]) ~ :not([hidden]) {
  --tw-space-x-reverse: 0;
  margin-right: calc(0.5rem * var(--tw-space-x-reverse));
  margin-left: calc(0.5rem * calc(1 - var(--tw-space-x-reverse)));
}

.ma > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(1rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(1rem * var(--tw-space-y-reverse));
}

.na > :not([hidden]) ~ :not([hidden]) {
  --tw-space-x-reverse: 0;
  margin-right: calc(1rem * var(--tw-space-x-reverse));
  margin-left: calc(1rem * calc(1 - var(--tw-space-x-reverse)));
}

.oa {
  border-radius: 0.5rem;
}

.pa {
  border-radius: 9999px;
}

.qa {
  border-width: 2px;
}

.ra {
  border-style: solid;
}

.sa {
  --tw-border-opacity: 1;
  border-color: rgb(229 231 235 / var(--tw-border-opacity));
}

.ta {
  --tw-border-opacity: 1;
  border-color: rgb(255 255 255 / var(--tw-border-opacity));
}

.ua {
  --tw-bg-opacity: 1;
  background-color: rgb(243 244 246 / var(--tw-bg-opacity));
}

.va {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}

.wa {
  --tw-bg-opacity: 1;
  background-color: rgb(5 150 105 / var(--tw-bg-opacity));
}

.xa {
  --tw-bg-opacity: 1;
  background-color: rgb(4 120 87 / var(--tw-bg-opacity));
}

.ya {
  padding: 1.5rem;
}

